@charset "UTF-8";

html{
	scroll-behavior: smooth;
}
body{
	background-color:whitesmoke;
	text-align:center;
	
}

a{
	text-decoration:none;
	color:red;
}

h1{
	text-align:center;
	font-family:castellar, sans-serif;
	font-size:40px;
}

h2{
	text-align:center;
	background-color:darkgreen;
	color:white;
	padding:10px;
	border-radius:25px;
	width:800px;
	margin:auto;
}
h2:hover{
	text-align:center;
	background-color:yellow;
	color:black;
	padding:10px;
	border-radius:50%;
	width:800px;
	margin:auto;
}


#home img{
	width:500px; 
	height:300px;
	box-shadow:0 0 10px black;
}

#home img:hover{
	width:500px; 
	height:300px;
	box-shadow:0 0 15px red;
	margin:auto;
}

table{
	width:100%;
}


table img{
	margin:auto;
	border-radius:10px;
}

table img:hover{
	margin:auto;
	box-shadow:0 0 15px blue;
}